	<aside id="footnotes">
		<div class="container">
			<p>Blog édité et géré par <a href="https://www.corentin-hatte.eu" target="_blank" rel="author">Corentin Hatte</a> (<a href="mailto:{{ site.data.authors.corentin.email }}?subject=Contact via le blog" rel="help">me contacter</a>).</p>
			<p>Aucun cookie n'est nécessaire au fonctionnement de ce site.</p>
			<p>Les visites sont comptabilisées de façon anonyme par <a href="https://matomo.org/" target="_blank" rel="noopener noreferrer">Matomo</a>.</p>
			<p>Hébergé via <a href="https://pages.github.com/" rel="nofollow" target="_blank" rel="noopener noreferrer">GitHub Pages</a>. <a href="https://github.com/viki53/Blog" rel="nofollow" target="_blank" rel="noopener noreferrer">Sources</a>. <a href="feed://{{ "/atom.xml" | absolute_url }}" rel="alternate" title="Vous pouvez vous abonner au flux Atom pour être informé des nouveaux articles">Flux Atom</a></p>
		</div>
	</aside>
</body>
</html>
