<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
	<meta charset="{{ site.encoding }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.title %}
		{% assign categoryName = nil %}
		{% if page.type == 'category' %}
			{% for cat in site.data.categories %}
				{% if page.title == cat.slug %}
				{% assign categoryName = cat.title %}
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if categoryName %}
		<title>{{ categoryName }} | {{ site.title }}</title>
		{% else %}
		<title>{{ page.title }} | {{ site.title }}</title>
		{% endif %}
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}

	<link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">

	<link rel="canonical" href="{{ page.url | prepend:site.github.url }}" />

	{% feed_meta %}

	<meta itemprop="og:site_name" content="{{ site.title }}">
	<meta itemprop="og:locale" content="{{ site.language }}">
	
	<meta itemprop="og:title" content="{{ page.title || site.title }}">
	<meta itemprop="og:url" content="{{ page.url | prepend:site.github.url }}">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ page.title || site.title }}">
	<meta name="twitter:url" content="{{ page.url | prepend:site.github.url }}">
	<meta name="twitter:site" content="@viki53">
	
	{% if page.excerpt %}
	<meta name="description" content="{{ page.excerpt | strip_html | normalize_whitespace }}">
	<meta itemprop="og:description" content="{{ page.excerpt | strip_html | normalize_whitespace }}">
	<meta name="twitter:description" content="{{ page.excerpt | strip_html | normalize_whitespace }}">
	{% else %}
	<meta name="description" content="{{ site.description | strip_html | normalize_whitespace }}">
	<meta itemprop="og:description" content="{{ site.description | strip_html | normalize_whitespace }}">
	<meta name="twitter:description" content="{{ site.description | strip_html | normalize_whitespace }}">
	{% endif %}
	
	{% if page.cover %}
	<meta itemprop="og:image" content="{{ page.cover | prepend:site.github.url }}">
	<meta name="twitter:image" content="{{ page.cover | prepend:site.github.url }}">
	{% endif %}
	
	{% if page.author %}
	{% assign author = site.data.authors[page.author] %}
	<meta name="twitter:creator" content="@{{ author.twitter }}">
	{% endif %}

	{% include matomo.html %}
</head>
<body>
	<nav id="quick-access">
		<div class="container">
			<div>
				<ul>
					<li><a href="{{ '/' | relative_url }}">Accueil</a></li>
					<li><a href="https://twitter.com/viki53" target="_blank" rel="noopener noreferrer">Twitter</a></li>
					<li><a href="https://instagram.com/thisislifefr" target="_blank" rel="noopener noreferrer">Instagram</a></li>
					<li><a href="https://fr.tipeee.com/dose-et-si-on-discutait" target="_blank" rel="noopener noreferrer">Tipeee</a></li>
				</ul>
			</div>
			{% if page.id %}
			<div>
				<strong>Partager :</strong>
				<ul>
					<li><a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url | uri_escape }}&via={{ site.twitter_username | uri_escape }}&text={{ page.title | uri_escape }}" target="_blank" rel="noopener noreferrer" title="Partager cet article sur Twitter">Twitter</a></li>
					<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | uri_escape }}&t={{ page.title | uri_escape }}" target="_blank" rel="noopener noreferrer" title="Partager cet article sur Facebook">Facebook</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
	</nav>
