<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
	<meta charset="{{ site.encoding }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>

	<link rel="stylesheet" href="{{ "/css/styles.css" | prepend:site.github.url }}">

	<link rel="canonical" href="{{ page.url | prepend:site.github.url }}" />

	<meta itemprop="og:site_name" content="{{ site.name }}">
	
	<meta itemprop="og:title" content="{{ page.title }}">
	<meta itemprop="og:url" content="{{ page.url | prepend:site.github.url }}">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ page.title || site.title }}">
	<meta name="twitter:url" content="{{ page.url | prepend:site.github.url }}">
	<meta name="twitter:site" content="@HelyoWorld">
	
	{% if page.excerpt %}
	<meta name="description" content="{{ page.excerpt | strip_html | normalize_whitespace }}">
	<meta itemprop="og:description" content="{{ page.excerpt | strip_html | normalize_whitespace }}">
	<meta name="twitter:description" content="{{ page.excerpt | strip_html | normalize_whitespace }}">
	{% else %}
	<meta name="description" content="{{ site.description | strip_html | normalize_whitespace }}">
	<meta itemprop="og:description" content="{{ site.description | strip_html | normalize_whitespace }}">
	<meta name="twitter:description" content="{{ site.description | strip_html | normalize_whitespace }}">
	{% endif %}
	
	{% if page.cover %}
	<meta itemprop="og:image" content="{{ page.cover | prepend:site.github.url }}">
	<meta name="twitter:image" content="{{ page.cover | prepend:site.github.url }}">
	{% endif %}
	
	{% if page.author %}
	{% assign author = site.data.authors[page.author] %}
	<meta name="twitter:creator" content="@{{ author.twitter }}">
	{% endif %}
</head>
<body>
	<nav id="quick-access">
		<div class="container">
			<ul>
				<li><a href="/">Accueil</a></li>
				{% for category in site.data.categories %}
				{% if site.categories[category.slug].size %}
				<li><a href="/blog/categorie/{{ category.slug }}/">{{ category.title }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>
