.article {
	padding: 1rem .5rem;

	& > header {
		padding: 0;
		border-bottom: 1px solid $shadow-color;

		h1 {
			font-size: 1.8rem;
			margin: 0;
		}

		a {
			display: block;
			padding: .5rem 0;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	& > footer {
		padding: 0;
		border-top: 1px solid $shadow-color;
	}

	& ~ .article {
		border-top: 1px solid $shadow-color;
	}
}

.post-content {
	padding: .5rem .5rem;
}

.post-info {
	margin: 0 .5rem;
	padding: .5rem 0;
	border-top: 1px solid $shadow-color;
}
