@import "./variables.scss";

.hero {
	position: relative;
	padding: 6rem 2rem;
	text-align: center;
	color: $hero-text-color;
	background-color: $hero-fallback-bg-color;
	background-image: url("../images/classy_fabric.png");
	font-family: $font-family-headings;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $hero-background-color;
		background-image: radial-gradient(ellipse at center, $hero-background-color 40%, mix($hero-background-color, $shadow-color, 35%) 100%);
		opacity: .6;
		z-index: 0;
	}

	& > * {
		position: relative;
	}
}
