@import "_variables.scss";

/**************************************************
 *
 * Global
 *
 **************************************************/

body {
	margin: 0;
	font-family: $font-family;
	color: $page-text-color;
	background-color: $page-fallback-bg-color;
	background-image: url("../images/classy_fabric.png");

	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $page-background-color;
		opacity: .6;
		z-index: -1;
	}
}

/**************************************************
 *
 * Texts
 *
 **************************************************/

h1,
h2,
h3,
h4 {
	font-family: $font-family-headings;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}

p {
	margin: 15px 0;
	line-height: 1.5;
}

a {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	margin: 20px 0;
	height: 1px;
	background-color: $shadow-color;
	border: none;
}

.center {
	text-align: center;
}

/**************************************************
 *
 * Responsive
 *
 **************************************************/

.container {
	max-width: 60rem;
	margin: 0 auto;
	overflow: hidden;
}

@media (max-width: 60rem) {
	.container {
		margin: 0 .5rem;
	}
}

main {
	.container {
		color: $content-text-color;
		background-color: $content-background-color;
		box-shadow: 0 0 .75rem $shadow-color;
	}
}
