@import "_variables.scss";

/**************************************************
 *
 * Global
 *
 **************************************************/

body {
	margin: 0;
	font-family: $font-family;
	color: $text-color;
	background-color: $background-color;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/**************************************************
 *
 * Texts
 *
 **************************************************/

h1,
h2,
h3,
h4 {
	font-family: $font-family-headings;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}

p {
	margin: 15px 0;
	line-height: 1.5;
}

a {
	color: $accent-color;

	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:focus {
		background-color: $primary-color;
		color: $background-color;
		outline: $primary-color solid 3px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

blockquote {
	margin: 1rem;
	border-left: 4px solid $accent-color;
	padding-left: .5rem;
	font-style: italic;
}

ul {
	li {
		list-style-type: none;
		
		&::before {
			content: "∙ ";
			margin-left: -1.5rem;
			margin-right: .5rem;
			display: inline-block;
			font-size: 3rem;
			line-height: 1.5rem;
			vertical-align: bottom;
			color: $accent-color;
		}
	}
}

hr {
	margin: 20px 0;
	height: 1px;
	background-color: $shadow-color;
	border: none;
}

.center {
	text-align: center;
}

/**************************************************
 *
 * Responsive
 *
 **************************************************/

.container {
	max-width: 60rem;
	margin: 0 auto;
	overflow: hidden;
}

#content {
	color: $content-text-color;
	background-color: $content-background-color;
	box-shadow: 0 0 .75rem $shadow-color;
	border-radius: 0 0 .5rem .5rem;
}
