@import "_variables.scss";

/**************************************************
 *
 * Global
 *
 **************************************************/

body {
	margin: 0;
	font-family: $font-family;
	color: $text-color;
	background-color: $background-color;
}

/**************************************************
 *
 * Texts
 *
 **************************************************/

h1,
h2,
h3,
h4 {
	font-family: $font-family-headings;
}

p {
	margin: 15px 0;
	line-height: 1.5;
}

a {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	margin: 20px 0;
	height: 1px;
	background-color: $shadow-color;
	border: none;
}

.center {
	text-align: center;
}

/**************************************************
 *
 * Responsive
 *
 **************************************************/

.container {
	max-width: 60rem;
	margin: 0 auto;
}

@media (max-width: 60rem) {
	.container {
		margin: 0 .5rem;
	}
}
