@import "_variables.scss";

#quick-access {
	color: $topbar-text-color;
	background-color: $topbar-background-color;
	font-family: $font-family-headings;

	.container {
		display: flex;
		flex-direction: row;

		& > div {
			display: flex;
			flex-wrap: nowrap;

			&:first-child {
				flex: 1;
			}
			&:not(:first-child) {
				@media screen and (max-width: #{$size-small}) {
					display: none;
				}
			}
		}
	}

	a, 
	strong {
		display: inline-block;
		padding: .5rem;
	}

	ul {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			list-style: none;
			margin: 0;
			padding: 0;
			
			& > a {
				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}

			&::before {
				content: none;
			}
		}
	}
}
