{% include header.html %}

<main>
	<div class="container">
		<div class="hero">
			<h1>
				{% if page.type == 'year' %}
				Articles de l'année <em>{{ page.date | date:'%Y' }}</em>
				{% elsif page.type == 'month' %}
				Articles pour le mois de <em>{% include date-month-localized.html date=page.date %}{{ page.date | date:'%Y' }}</em>
				{% elsif page.type == 'day' %}
				Articles du {{ page.date | date:'%d' }} <em>{% include date-month-localized.html date=page.date %}{{ page.date | date:'%Y' }}</em>
				{% endif %}

				{% if page.type == 'category' %}
					{% for cat in site.data.categories %}
						{% if page.title == cat.slug %}
						Catégorie "<em>{{ cat.title }}</em>"
						{% endif %}
					{% endfor %}
				{% endif %}
			</h1>
		</div>

		{% if paginator.previous_page %}
		<!-- Page {{ paginator.page }} -->
		{% endif %}

		{% for post in page.posts %}
		{% assign author = site.data.authors[post.author] %}
		<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
			<header>
				<h1 itemprop="headline"><a href="{{ post.url | prepend:site.github.url }}">{{ post.title }}</a></h1>
			</header>
			<div class="post-excerpt">
				{{ post.excerpt }}
			</div>
			<footer>
				<p>
					Publié <a href="{{ post.url | prepend:site.github.url }}" itemprop="url">le <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:"%d/%m/%Y" }}</time></a>
					par <a href="mailto:{{ author.email }}" title="Contacter l'auteur par email" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></a>{% if category %}
					dans <a href="{{ '/categorie/' | prepend:site.github.url | append:category.slug }}/"><span itemprop="articleSection">{{ category.title }}</span></a>{% endif %}
				<p>
			</footer>
		</article>
		{% endfor %}
	</div>
</main>

{% include footer.html %}
