{% include header.html %}

<main>
	<div class="container">
		<div class="hero">
			<h1>{{ site.title }}</h1>
		</div>

		{% if paginator.previous_page %}
		Page {{ paginator.page }}
		{% endif %}

		{% for post in paginator.posts %}
		{% assign author = site.data.authors[post.author] %}
		<article class="article">
			<header>
				<h1><a href="{{ post.url | prepend:site.github.url }}">{{ post.title }}</a></h1>
			</header>
			<div class="post-excerpt">
				{{ post.excerpt }}
			</div>
			<footer>
				<p>
					Publié <a href="{{ post.url | prepend:site.github.url }}">le {{ post.date | date:"%d/%m/%Y" }}</a> par {{ author.name }}
				<p>
			</footer>
		</article>
		{% endfor %}
	</div>
</main>

{% include footer.html %}
