{% include header.html %}

<main itemscope itemtype="http://schema.org/Blog">
	<div class="container">
		<div class="hero">
			<h1 itemprop="name headline">{{ site.title }}</h1>
		</div>

		{% include pagination.html %}

		{% for post in paginator.posts %}
		{% assign author = site.data.authors[post.author] %}
		{% assign category = nil %}
		{% for cat in site.data.categories %}
			{% if cat.slug == post.category%}
			{% assign category = cat %}
			{% endif %}
		{% endfor %}
		<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
			<header>
				<h1 itemprop="name headline"><a href="{{ post.url | prepend:site.github.url }}">{{ post.title }}</a></h1>
			</header>
			<div class="post-excerpt">
				{{ post.excerpt }}
			</div>
			<footer>
				<p>
					Publié <a href="{{ post.url | prepend:site.github.url }}" itemprop="url datePublished">le {{ post.date | date:"%d/%m/%Y" }}</a>
					par <a href="mailto:{{ author.email }}" title="Contacter l'auteur par email"><span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</span></a>{% if category %}
					dans <a href="{{ '/categorie/' | prepend:site.github.url | append:category.slug }}/" itemprop="articleSection">{{ category.title }}</a>{% endif %}
				<p>
			</footer>
		</article>
		{% endfor %}

		{% include pagination.html %}
	</div>
</main>

{% include footer.html %}
