{% include header.html %}

<main>
	<div class="container">
		{% assign post = page %}
		{% assign author = site.data.authors[post.author] %}
		{% for cat in site.data.categories %}
			{% if cat.slug == post.category%}
			{% assign category = cat %}
			{% endif %}
		{% endfor %}

		<article itemscope itemtype="http://schema.org/BlogPosting">
			<header class="hero">
				<h1 itemprop="headline">{{ post.title }}</h1>
			</header>
			<div class="post-content">
				{{ content }}
			</div>
			<footer class="post-info">
				<p>
					Publié <a href="{{ post.url | prepend:site.github.url }}">le <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date:"%d" }}
						{% assign m = page.date | date: "%-m" %}
						{% case m %}
						{% when '1' %}janvier
						{% when '2' %}févrirer
						{% when '3' %}mars
						{% when '4' %}avril
						{% when '5' %}mai
						{% when '6' %}juin
						{% when '7' %}juillet
						{% when '8' %}août
						{% when '9' %}septembre
						{% when '10' %}octobre
						{% when '11' %}novembre
						{% when '12' %}décembre
						{% endcase %}
						{{ page.date | date:"%Y" }}</time></a>,
					par <span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</span>
					{% if category %}dans <a href="{{ '/categorie/' | prepend:site.github.url | append:category.slug }}/">{{ category.title }}</a>{% endif %}
				<p>
			</footer>
		</article>
	</div>
</main>

{% include footer.html %}
